{% extends 'base.html.twig' %}

{% block title %}AssurPlus - Déclaration de sinistre{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Déclarer votre sinistre</h1>

        {# Affichage des messages flash #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ label }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endfor %}

        {# Affichage du formulaire #}
        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.lieux, {'label': 'Adresse du sinistre'}) }}
                {{ form_row(form.description, {'label': 'Description du sinistre'}) }}
                {{ form_row(form.numberRegistration, {'label': 'Numéro d\'immatriculation de votre voiture'}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.imagesFiles, {'label': 'Uploader des photos'}) }}
                {{ form_row(form.city, {'label': 'Ville'}) }}
                {{ form_row(form.type, {'label': 'Type de véhicule'}) }}
                {{ form_row(form.marque, {'label': 'Marque du véhicule'}) }}
            </div>
        </div>

        <div class="form-group d-flex justify-content-between mt-4">
            {{ form_row(form.submit, {'label': 'Valider'}) }}
            <div class="mb-3">
                <a href="{{ path('app_home') }}" class="btn btn-secondary">Annuler</a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
