{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #87ceeb;
        }

        .container-form {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
        }
    </style>
    <div class="container-form">
        <div class="row">
            <div class="col-md-12">
                <h5>Informations de connexion</h5>
                <p>Pour vous connecter en super admin : <b>superadmin@studi.fr</b></p>
                <p>Pour vous connecter en tant que client: <b>user@studi.fr</b></p>
                <p> Mot de passe: <b>password</b></p>
            </div>
        </div>
    </div>

    <div class="container-form mb-5">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Déconnexion {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary mt-5" type="submit">
                Connexion
            </button>

        </form>

    </div>
{% endblock %}
