{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


    <section style="max-width: 800px;" class="container d-flex flex-column justify-content-center align-items-center">
        {# display a flash message #}

        {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                <p> {{ message }} </p>
            </div>
        {% endfor %}
        {% endfor %}
      <div>
        <h1 class="mt-4 mb-2">Bienvenue sur votre historique</h1>
        <p class="mb-2">Vous trouverez ci-dessous l'historique de vos dernieres déclarations de sinistre</p>
      </div>
      
      <div class="d-flex flex-column justify-content-center" style="max-width: 250px;">
        <a class="btn btn-primary btn-sm" type="button" href="{{ path('form_sinister')}}">Déclarer un sinistre</a>
      </div>

      <div class="d-flex flex-wrap justify-content-center mt-4">
        {% for sinister in pagination %}
        <div class="card border-primary mb-3 me-sm-2" style="max-width: 20rem;">
            <div class="card-header">Sinistre du {{ sinister.createdAt | date('d/m/Y') }}</div>
            <div class="card-body d-flex flex-column">
                <p class="card-title">{{ sinister.lieux }}</p>
                <p class="card-text">{{ sinister.description }}</p>
                <p class="card-text ">N° immatriculation : {{ sinister.numberRegistration }}</p>
            </div>
        </div>
        {% endfor %}
      </div>
     <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
    </section>
  </div>
  
{% endblock %}
