{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {
            label: 'Password'
        }) }}
            <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
    </div>
{% endblock %}
