<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="{{ path('app_home')}}"><span class="fw-bolder text-white">Assure Plus</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('admin_dashboard')}}">Admin</a></li>
                        {% endif %}

                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login')}}">Déclarer un sinistre</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_user_historique')}}">Mon Compte</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout')}}">Déconnexion</a></li><!-- Ajout du lien "Mon Compte" -->
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login')}}">Se connecter</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register')}}">S'inscrire</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page content-->
<main class="flex-shrink-0">
    {% block body %}{% endblock %}
</main>

<!-- Footer-->
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0"> &copy; {{ "now"|date("Y") }} AssurPlus. Tous droits réservés.</div></div>
            <div class="col-auto">
                <a class="small" href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
