{% extends 'base.html.twig' %}

{% block title %}Hello UserInterfaceController!{% endblock %}

{% block body %}


    <section style="max-width: 800px;" class="container d-flex flex-column justify-content-center align-items-center">
        {# display a flash message #}

        {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }}">
                <p> {{ message }} </p>
            </div>
        {% endfor %}
        {% endfor %}
      <div>
        <h1 class="mt-4 mb-2">Bienvenue sur votre historique</h1>
        <p class="mb-2">Vous trouverez ci-dessous l'historique de vos dernieres déclarations de sinistre</p>
      </div>
      
      <div class="d-flex flex-column justify-content-center" style="max-width: 250px;">
        <a class="btn btn-primary btn-sm" type="button" href="{{ path('app_sinister')}}">Déclarer un sinistre</a>
      </div>

      <div class="d-flex flex-wrap justify-content-center mt-4">
        {% for sinister in sinisters %}
        <div class="card border-primary mb-3 me-sm-2" style="max-width: 20rem;">
            <div class="card-header">Sinistre du {{ sinister.createdAt | date('d/m/Y') }}</div>
            <div class="card-body d-flex flex-column">
                <p class="card-title">{{ sinister.lieux }}</p>
                <p class="card-text">{{ sinister.description }}</p>
                <p class="card-text ">N° immatriculation : {{ sinister.numberRegistration }}</p>
                <p class="card-text ">Ville : {{ sinister.city.name }}</p>
                <hr>
                {% set garageFound = false %}
                {% for garage in garages %}
                    {% if sinister.city.name == garage.ville and not garageFound %}
                        {% set garageFound = true %}
                        <h5 class="card-title">Garage le plus proche</h5>
                        <p class="card-text">Adresse : {{ garage.adresse|raw }}</p>
                        <p class="card-text">Ville : {{ garage.ville|raw }}</p>
                        <p class="card-text">Téléphone : {{ garage.telephone|raw }}</p>
                    {% endif %}
                {% endfor %}

                {% if not garageFound %}
                    <p class="card-text">Aucun garage trouvé.</p>
                {% endif %}

            </div>
        </div>
        {% endfor %}
      </div>

    </section>

  
{% endblock %}
