{% apply markdown_to_html %}
# Voici une déclaration de sinistre
---
## Informations sur l'assuré
- Numéro d'assuré : {{ user.numberUser }}
- Nom : {{ user.lastname }}
- Prénom : {{ user.firstname }}
- Email : {{ user.email }}
- Numéro de téléphone: {{ user.PhoneNumber }}

--- 
## Information sur le sinistre
- Date du sinistre : {{ sinister.createdAt | date('d/m/Y')}}
- Adresse du sinistre : {{ sinister.lieux }}
- Déscription du sinsitre : {{ sinister.description }}
- Numéro de plaque d'immatriculation : {{ sinister.numberRegistration }}

___

{% endapply %}